<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Meet Me{% endblock %}</title>
        {#<link href="{{ asset('bundles/meetmeappt/css/main.css') }}" rel="stylesheet" type="text/css" />#}
    </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>